// Import custom colors
@import "./colors.scss";

$dimensions: 16 24 32 48 64 80 96 128;

@import "./multiselect.scss";

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

@import "~@fortawesome/fontawesome-free/css/all.min.css";

.section {
  padding: 1.5em;
}

.loading-overlay {
  z-index: 1000;

  .loading-icon {
    z-index: 1000;
  }
}

figure {
  text-align: center;
}

figure.background {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

figure.is-rounded {
  border-radius: 50%;
}

.datetime-minor {
  color: #000000;
  font-size: 0.8em;
}
